<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>layui</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all" /> 
</head>
<body>
<div class="layui-container">
  <!--   常规布局（以中型屏幕桌面为例）： -->
    <div class="layui-row">
        <div class="layui-col-md3 " style="color: red">
        <!--     你的内容 3/12aa -->
        </div>
        <div class="layui-col-md6">
			<h1>注册用户界面</h1>
			
           <!--  你的内容 9/12 -->
        </div>
        <div class="layui-col-md3" style="color: red">
           <!--  你的内容 3/12 -->
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}" />
<script>
 
</script>

</body>
</html>