<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>用户登录</title>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<link rel="stylesheet" name="theme" th:href="@{/css/index.css}" />
<!-- <link rel="stylesheet"
	href="https://iview.github.io/iview-admin/dist/main.af8757472e2913019b56.css" /> -->
</head>
<body data-ext-version="1.4.2" cz-shortcut-listen="true">
	<div id="main" class="app-main">
		<div class="login">
			<div class="login-con">
				<div class="ivu-card">
					<div class="ivu-card-head">
						<p>
							<i class="ivu-icon ivu-icon-log-in"></i> 欢迎登录
						</p>
					</div>
					<!---->
					<div class="ivu-card-body">
						<div class="form-con">
							<form autocomplete="off" class="ivu-form ivu-form-label-right" id="login-from" >
								<div class="ivu-form-item ivu-form-item-required">
									<!---->
									<div class="ivu-form-item-content">
										<div
											class="ivu-input-wrapper ivu-input-type ivu-input-group ivu-input-group-with-prepend">
											<div class="ivu-input-group-prepend">
												<span><i class="ivu-icon ivu-icon-person"
													style="font-size: 16px;"></i></span>
											</div>
											<!---->
											<i
												class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
											<input autocomplete="off" spellcheck="false" type="text"
												placeholder="请输入用户名" id="userName" class="ivu-input"  />
											<!---->
										</div>
										<!---->
									</div>
								</div>
								<div class="ivu-form-item ivu-form-item-required">
									<!---->
									<div class="ivu-form-item-content">
										<div
											class="ivu-input-wrapper ivu-input-type ivu-input-group ivu-input-group-with-prepend">
											<div class="ivu-input-group-prepend">
												<span><i class="ivu-icon ivu-icon-locked"
													style="font-size: 14px;"></i></span>
											</div>
											<!---->
											<i
												class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
											<input autocomplete="off" spellcheck="false" type="password"
												placeholder="请输入密码" id="password" class="ivu-input"  />
											<!---->
										</div>
										<!---->
									</div>
								</div>
								<div class="ivu-form-item">
									<!---->
									<div class="ivu-form-item-content">
										<button type="button"
											class="ivu-btn ivu-btn-primary ivu-btn-long" v-on:click="submit()">
											<span>登录</span>
										</button>
									</div>
								</div>
							</form>
							<p class="login-tip">输入用户名和密码 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="lock_screen_back" class="lock-screen-back"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}" ></script>
<!-- import Vue.js -->
<script th:src="@{/vue/vue.min.js}"></script>
<!-- import iView -->
<script th:src="@{/iview/iview.min.js}"></script>
<script type="text/javascript">

	var vm=new Vue({
		el:'#login-from',
		methods:{
			submit:function(){
				var userName=$('#userName').val();
				var password=$('#password').val();
				console.log('提交');
				$.ajax({
					method:'post',
					url:'/login.html',
					data:{
						userName:'admin',
						password:'admin'
					}
				});
			}
		}
	});
</script>
</body>
</html>