<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>监控平台-欢迎登陆</title>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1" />
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all" /> 
  <link rel="stylesheet" th:href="@{/css/common.css}"  />
</head>
<style type="text/css">
html,body{height:95%;background: #414141;}
</style>
<body>
	<header th:include="/common/header"></header>
    <div class="wrap">
        <div class="main">
        	<login th:include="/common/login"></login>
        </div>
    </div>
   	<footer th:include="/common/foot" ></footer>
</body>
</html>