<div class="data_list" >
	<div class="data_list_title">
		<img th:src="@{/images/list_icon.png}" />最新博客
	</div>
	<div class="datas">
		<ul>
			<div th:each="blog:${blogList }">
				<li style="margin-bottom: 30px"><span class="date"><a
						th:href="'/blog/articles/'+@{${blog.id}}+'.html'">
								  <span th:text="${#calendars.format(blog.releaseDate,'yyyy年MM月dd日')}"></span>
								</a></span>
					<span class="title"><a
						th:href="'/blog/articles/'+@{${blog.id}}+'.html'" th:text="${blog.title }"></a></span> 
					<a th:href="'/blog/articles/'+@{${blog.id}}+'.html'">
						<span
					class="summary"><span style="font-weight: bold">摘要：</span><span th:text="${blog.summary }"></span>...</span>
					<span class="img">
					<span th:each="image: ${blog.imageList }" >
							<a th:href="'/blog/articles/'+@{${blog.id}}+'.html'">
								<span th:utext="${image}" ></span> 
							</a>
				  		&nbsp;&nbsp;
			  		</span></span>
					</a>
					<span class="info">发表于  
					  <span th:text="${#calendars.format(blog.releaseDate,'yyyy-MM-dd HH:mm:ss')}"></span>
					阅读(<span th:text="${blog.clickHit }"></span>)
						评论(<span th:text="${blog.replyHit }"></span>)
				</span>
				</li>
				<hr
					style="height: 5px; border: none; border-top: 1px dashed gray; padding-bottom: 10px;" />
			</div>
		</ul>
	</div>
</div>

<div th:include="/foreground/common/page" />





