/* login登录页面样式 index.html开始 */

header{
	height:60px;
	color: red;
	text-align: center;
}

.wrap{min-height:100%}

.main{
	padding-bottom:30px;
	overflow:hidden;
	margin:0 auto;
	width:400px;
}

.login-box{
	margin-top:120px;
}

footer{
	color: red;
	text-align: center;
}


.login .layui-form .layui-form-pane {
	margin:0px auto;
}

.login-error-div{
	padding-bottom:6px;
}

.login-error-span{
	color:red;
}
/* login登录页面样式 index.html结束 */
/* register注册页面样式 /user/register.html开始 */
.register-box{
	
}

/* register注册页面样式 /user/register.html结束 */