<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>登陆页面</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" th:href="@{layui/css/layui.css}"  media="all" /> 
</head>

<body style="text-align:center">
<div style="margin:0px auto">
	<form class="layui-form layui-form-pane"  action="login.html" style="text-align:center;margin-left: 600px;margin-top: 350px;" method="post">
	    <div class="layui-form-item">
		    <label class="layui-form-label">用户名</label>
		    <div class="layui-input-inline">
		      <input type="text" name="userName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" />
		    </div>
		  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">密码</label>
	    <div class="layui-input-inline">
	      <input type="password" name="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input" />
	    </div>
	    <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
	  </div>
	  
	  <div class="layui-form-item" >
	    <button class="layui-btn"   lay-filter="login">跳转式提交</button>
	  </div>
	</form>
</div>
<script type="text/javascript" th:src="@{js/jquery.min.js}" />
<script>

</script>
</body>
</html>