<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>首页</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
<!-- import stylesheet -->
<link rel="stylesheet" th:href="@{/iview/iview.css}" />

</head>
<body>
	<h1>主页</h1>
	
	
<!-- import Vue.js -->
<script th:src="@{/vue/vue.min.js}"></script>
<!-- import iView -->
<script th:src="@{/iview/iview.min.js}"></script>
</body>
</html>